{{ define "main" }}
    {{ range .Paginator.Pages }}
    <div class="post-{{ with .File }}{{ .UniqueID }}{{ else }}{{ .Title | urlize }}{{ end }} post type-post status-publish format-standard hentry" id="post-{{ with .File }}{{ .UniqueID }}{{ else }}{{ .Title | urlize }}{{ end }}" itemscope itemtype="http://schema.org/Article">
        <h2 class="post-title" itemprop="headline">
            <a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}" itemprop="url">{{ .Title }}</a>
            
            <!-- 怀旧复刻：今天新发的文章显示 new.gif -->
            {{ if gt .Date (now.AddDate 0 0 -1) }}
                <span class="new-icon-wrap" style="margin-left: 5px; vertical-align: middle;">
                    <img src="/images/new.gif" alt="New Post" style="border: none;">
                </span>
            {{ else if .Params.sticky }}
                <span class="new"><i class="iconfont newicon">&#xe610;</i></span>
            {{ end }}
        </h2>
        
        {{ $content := .Content }}
        {{ $imgSrc := "" }}
        {{ $imgs := findRE "<img.*?src=\"(.*?)\"" $content 1 }}
        {{ if gt (len $imgs) 0 }}
            {{ $imgSrc = index (findRE "src=\"(.*?)\"" (index $imgs 0) 1) 0 | strings.TrimPrefix "src=\"" | strings.TrimSuffix "\"" }}
        {{ else if .Params.image }}
            {{ $imgSrc = .Params.image }}
        {{ else }}
            {{ $random_num := (add (mod (len .Title) 30) 1) }}
            {{ $imgSrc = printf "/images/random/%d.jpg" $random_num }}
        {{ end }}

        <div class="thumbnail">
            <a href="{{ .Permalink }}" rel="nofollow" title="{{ .Title }}">
                <img class="diagram" src="{{ $imgSrc }}" alt="{{ .Title }}" itemprop="image" loading="lazy" />
            </a>
        </div>
        
        <div class="post-content" itemprop="description">
            <p>{{ .Summary | plainify | truncate 200 }}</p>
        </div>
        
        <div class="clear"></div>
        
        <div class="post-info">
            <span class="vcard author info-icon" itemprop="author" itemscope itemtype="https://schema.org/Person">
                <span class="fn"><i class="iconfont posticon">&#xe603;</i>{{ $.Site.Params.author_name | default "杆子" }}</span>
            </span>
            <span class="date info-icon" itemprop="datePublished" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
                <i class="iconfont posticon">&#xe689;</i>{{ .Date.Format "2006-01-02" }}<span class="date-hi"> {{ .Date.Format "15:04" }}</span>
            </span>
            <span class="category info-icon" itemprop="articleSection">
                <i class="iconfont posticon">&#xe658;</i>
                {{ range .Params.categories }}
                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" rel="category tag">{{ . }}</a>
                {{ end }}
            </span>
        </div>
        
        <div class="read-more">
            <a class="read-more-icon" href="{{ .Permalink }}" title="{{ .Title }}" rel="nofollow">阅读全文<span></span></a>
        </div>
    </div>
    <div class="clear"></div>
    {{ end }}
    
    {{ partial "pagination.html" . }}
{{ end }}
