<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "zh-Hans" }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,maximum-scale=2.0,shrink-to-fit=no" />
    <meta name="color-scheme" content="light dark" />
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    
    {{ with resources.Get "css/style.css" }}{{ $style := . | minify | fingerprint }}<link rel="stylesheet" href="{{ $style.RelPermalink }}" />{{ end }}
    {{ with resources.Get "css/dark.css" }}{{ $dark := . | minify | fingerprint }}<link rel="stylesheet" href="{{ $dark.RelPermalink }}" />{{ end }}
    {{ with resources.Get "css/jquery.mmenu.css" }}{{ $mmenu := . | minify | fingerprint }}<link rel="stylesheet" href="{{ $mmenu.RelPermalink }}" />{{ end }}
    
    {{ with resources.Get "js/jquery.min.js" }}<script type="text/javascript" src="{{ .RelPermalink }}"></script>{{ end }}
    {{ with resources.Get "js/jquery.mmenu.min.js" }}<script type="text/javascript" src="{{ .RelPermalink }}"></script>{{ end }}
    {{ with resources.Get "js/dark.min.js" }}<script type="text/javascript" src="{{ .RelPermalink }}"></script>{{ end }}
    {{ with resources.Get "js/weisay.min.js" }}<script type="text/javascript" src="{{ .RelPermalink }}"></script>{{ end }}
    {{ with resources.Get "js/lazyload.min.js" }}<script type="text/javascript" src="{{ .RelPermalink }}"></script>
    {{ else }}
        {{ with resources.Get "js/lazyload.js" }}<script type="text/javascript" src="{{ .RelPermalink }}"></script>{{ end }}
    {{ end }}
</head>
<body>
    <div class="header">
        <div class="top-bar">
            <div class="container">
                <div class="top-page">
                    <div class="menu">
                        <ul>
                            {{ range .Site.Menus.top }}
                            <li class="page_item"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="top-social">
                    <ul class="social-bookmarks">
                        <li><a class="rss-icon" href="/index.xml" target="_blank" title="欢迎订阅{{ .Site.Title }}"><i class="iconfont socialicon">&#xe8e7;</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="website container">
            <div class="headline">
                <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
                <div class="blogdescription">{{ .Site.Params.description }}</div>
            </div>
        </div>
    </div>

    <div class="headermenu">
        <a id="hamburger" onfocus="this.blur()" href="#menu" rel="nofollow"><span></span></a>{{ .Site.Title }}<a class="icon-right" href="#menu-right" rel="nofollow"><i class="iconfont righticon"></i></a>
    </div>

    <div class="navigation">
        <div class="container mainmenu">
            <div class="menu-ganzi-container">
                <ul id="menu-ganzi" class="menu">
                    <li class="menu-item {{ if .IsHome }}current-menu-item{{ end }}"><a href="{{ .Site.BaseURL }}">首页</a></li>
                    {{ range .Site.Menus.main }}
                    <li class="menu-item"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="search">
                <form class="search-form" method="get" action="/">
                    <input class="search-input" required="" type="text" name="s" placeholder="搜索" />
                    <button aria-label="搜索" class="search-submit iconfont" type="submit">&#xe652;</button>
                </form>
            </div>
        </div>
    </div>

    <div class="roll">
        <div id="dark-mode-toggle-button" onclick="applyCustomDarkModeSettings(toggleCustomDarkMode());" title="点击切换显示模式" class="roll-dark"><i class="iconfont rollmodeicon"></i></div>
        <div title="回到顶部" class="roll-top"><i class="iconfont rollicon">&#xe614;</i></div>
    </div>

    <div class="container">
        <div class="main">
            {{ block "main" . }}{{ end }}
        </div>
        {{ partial "sidebar.html" . }}
    </div>

    <div class="clear"></div>
    <div class="footer" id="footers">
        <div class="footer-info container">
            <div class="footer-left">
                <p>© {{ now.Format "2006" }} {{ .Site.Title }}. <span class="footer-hide">Powered by <a href="https://gohugo.io/" rel="external">Hugo</a>. Theme by <a href="https://blog.zznuo.com/" rel="external">Ganzi</a>.</span></p>
            </div>
        </div>
    </div>

    <nav id="menu">
        <div class="menu-ganzi-container">
            <ul id="menu-ganzi-1" class="menu">
                <li class="menu-item {{ if .IsHome }}current-menu-item{{ end }}"><a href="{{ .Site.BaseURL }}">首页</a></li>
                {{ range .Site.Menus.main }}
                <li class="menu-item"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </nav>

    {{ with resources.Get "js/activate-power-mode.min.js" }}
        <script src="{{ .RelPermalink }}"></script>
        <script>
            POWERMODE.colorful = true;
            POWERMODE.shake = false;
            document.body.addEventListener('input', POWERMODE);
        </script>
    {{ else }}
        {{ with resources.Get "js/activate-power-mode.js" }}
            <script src="{{ .RelPermalink }}"></script>
            <script>
                POWERMODE.colorful = true;
                POWERMODE.shake = false;
                document.body.addEventListener('input', POWERMODE);
            </script>
        {{ end }}
    {{ end }}
</body>
</html>
