.dark {
    color-scheme: dark
}

.dark body {
    background: #121212;
    color: #ccc
}

.dark .header {
    background-color: #222
}

.dark .top-bar {
    background: #181818
}

.dark .top-page li li {
    background: #181818
}

.dark .top-page li li a:hover {
    background: #333
}

.dark .website a:link,.dark .website a:visited {
    color: #ccc
}

.dark .article h1 a:link,.dark .article h1 a:visited {
    color: #ccc
}

.dark .website a:hover,.dark .article h1 a:hover {
    color: #eee
}

.dark .blogdescription {
    color: #999
}

.dark .weiicon {
    color: #362d2e
}

.dark .navigation {
    background: #1c1c1c
}

.dark .roll-top,.dark .roll-dark {
    background: #555
}

.dark .roll-top:hover,.dark .roll-dark:hover {
    background: #777
}

.dark .rollmodeicon:before {
    content: "\e769";
    font-size: 1.325rem
}

.dark .mainmenu a:link,.dark .mainmenu a:visited {
    color: #909090
}

.dark .mainmenu a:hover {
    color: #aaa;
    background: #292929
}

.dark .mainmenu li li {
    background: #292929;
    border-top: 1px solid #181818
}

.dark .mainmenu li li a:hover {
    background: #292929
}

.dark .social-bookmarks li a {
    background: #181818 url(images/social-bg.png)no-repeat 0 100%
}

.dark .search {
    background-color: #1c1c1c;
    border: 2px #3f3f3f solid
}

.dark .search .search-input {
    color: #999
}

.dark .search .search-submit {
    color: #666
}

.dark .search .search-submit:hover {
    color: #999
}

.dark .main .post {
    background-color: #1c1c1c;
    border-bottom-color: #171717;
    box-shadow: 0 0 4px #070707
}

.dark .main .post-title a:link,.dark .main .post-title a:visited {
    color: #ddd
}

.dark .main .post-title a:hover {
    color: #da4453
}

.dark .main .post .edit {
    background-color: #323232
}

.dark .main .post-content {
    color: #bdbdbd
}

.dark .main .post .post-content p {
    color: #aaa
}

.dark .main .crumb {
    background-color: #1c1c1c;
    border-bottom: 3px #171717 solid;
    box-shadow: 0 0 4px #070707
}

.dark .main .expand .expandicon {
    color: #999
}

.dark .main .article {
    background-color: #1c1c1c;
    border-bottom: 3px #171717 solid;
    box-shadow: 0 0 4px #070707
}

.dark .main .posticon {
    color: #777
}

.dark .main .article .article-info {
    border-bottom: 1px #4e4e4e dotted
}

.dark .main .article .article-content a[href^=http]:after {
    content: '';
    background: url(images/external-dark.svg)no-repeat;
    background-size: auto 100%
}

.dark .main .article .article-content a {
    border-bottom-color: #555;
    color: #ccc
}

.dark .main .article .article-content a:hover {
    border-bottom-color: #eee;
    color: #eee
}

.dark .main .article .article-content table th,
.dark .main .article .article-content table td {
    border: 1px solid #444;
    border-bottom: 3px solid #444
}

.dark .main .article .article-content table td {
    border-bottom-width: 1px
}

.dark .main .article .article-content table th {
    background-color: transparent
}

.dark .main .article .article-content table tbody tr:nth-of-type(odd) {
    background: #282828
}

.dark .main .article .article-content table tbody tr:hover {
    background: #363636
}

.dark .main .article .article-content blockquote {
    background-color: transparent;
    border-left: 4px solid #444;
    color: #bbb
}

.dark .main .article .article-content blockquote p {
    color: inherit
}

.dark .main .article .article-content ol li,
.dark .main .article .article-content ul li {
    background-color: transparent
}

.dark .main .article .article-content h5 li {
    background-color: initial
}

.dark .main .article .article-content input {
    border: 2px solid #3f3f3f;
    background: #292929
}

.dark .main .read-more a:link,.dark .main .read-more a:visited {
    color: #ddd
}

.dark .main .article h3.article-title {
    background-color: #292929;
    color: #ababab
}

.dark .shang-body .shang-qrcode span {
    background: #2c2c2c
}

.dark .main .article-related ul li a {
    color: #888
}

.dark .pagination span,.dark .pagination a {
    background-color: #323232
}

.dark .pagination a:hover {
    background: #ed5565;
    color: #ddd
}

.dark .pagination .current {
    background: #da4453;
    color: #ddd
}

.dark .archives-info {
    color: #1c1c1c
}

.dark .archives-statistics {
    border: 1px solid #3f3f3f
}

.dark .archives-statistics ul li:hover {
    background: #222
}

.dark select#archive-selector {
    border: 2px #4e4e4e solid;
    background-color: #3f3f3f;
    color: #bbb
}

.dark .car-list h3 {
    border-bottom: 1px dotted #4e4e4e
}

.dark .car-list .car-days {
    background: #292929
}

.dark .sidebar .widget {
    background-color: #1c1c1c;
    border-bottom: 3px #171717 solid;
    box-shadow: 0 0 4px #070707
}

.dark .sidebar .widget a:link,.dark .sidebar .widget a:visited {
    color: #909090
}

.dark .sidebar .widget a:hover {
    color: #da4453
}

.dark .tabnav {
    background-color: #292929
}

.dark .tabnav li {
    background-color: #292929
}

.dark .tabnav .selected {
    background-color: #1c1c1c
}

.dark .archives-info {
    color: #1c1c1c
}

.dark img {
    filter: brightness(80%)
}

@media screen and (max-width: 992px) {
    .dark .main .crumb,.dark .main .post,.dark .main .article,.dark .sidebar .widget {
        background-color:#222;
        border-bottom-color: #181818
    }

    .dark .search-box input {
        background: #323232;
        border: 1px solid #323232;
        color: #444
    }
}
