@font-face {
    font-family: iconfont;
    src: url(iconfont/iconfont.eot);
    src: url(iconfont/iconfont.eot#iefix)format('embedded-opentype'),url(iconfont/iconfont.woff2)format('woff2'),url(iconfont/iconfont.woff)format('woff'),url(iconfont/iconfont.ttf)format('truetype')
}

.iconfont {
    font-family: iconfont!important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 3px;
    display: inline-block
}

* {
    border: 0;
    margin: 0;
    padding: 0
}

html {
    scroll-padding-top: 5.75rem
}

::selection {
    color: #fff;
    background: #7c141f
}

::-moz-selection {
    color: #fff;
    background: #7c141f
}

a:link,a:visited {
    color: #ed5565;
    text-decoration: none
}

a:hover {
    color: #da4453;
    text-decoration: underline
}

.clear {
    clear: both
}

.new-badge {
    color: #ed5565;
    animation: move 3s linear infinite
}

.new {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-left: .375rem
}

.new-badge {
    width: 2.25rem;
    height: 1.875rem;
    display: inline-block
}

@keyframes move {
    0% {
        transform: translate(-2px)
    }

    25% {
        transform: translate(2px)
    }

    50% {
        transform: translate(-2px)
    }

    75% {
        transform: translate(2px)
    }

    100% {
        transform: translate(-2px)
    }
}

h1 {
    font-size: 1.625rem;
    font-weight: 400
}

h2 {
    font-size: 1.375rem;
    font-weight: 400
}

h3 {
    font-size: 1.125rem;
    font-weight: 400
}

body {
    background: #eef1f4;
    color: #444;
    font-family: joe font,helvetica neue,Helvetica,pingfang sc,hiragino sans gb,microsoft yahei,微软雅黑,Arial,sans-serif
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

.header {
    height: 8rem;
    background-color: #f5f7f8;
    min-width: 71rem
}

.container {
    margin: 0 auto
}

.top-bar {
    height: 2.75rem;
    background: #434a54
}

.top-page {
    float: left;
    font-size: 1rem
}

.top-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 20
}

.top-page li {
    height: 2.75rem;
    line-height: 2.75rem;
    float: left;
    font-weight: 700
}

.top-page a:link,.top-page a:visited {
    color: #bbb;
    line-height: 2.75rem;
    display: block;
    padding: 0 2rem 0 1rem
}

.top-page a:hover {
    color: #ddd
}

.top-page li ul {
    display: none;
    width: 7.5rem
}

.top-page li li {
    list-style: none;
    background: #434a54;
    left: 0;
    width: 7.5rem
}

.top-page li li a {
    display: block
}

.top-page li li a:hover {
    background: #313943
}

.top-page li.current-menu-item a:link,.top-page li.current-menu-item a:visited {
    color: #eee
}

.top-page ul ul li {
    position: relative
}

.top-page ul ul ul {
    top: 0;
    left: 7.5rem;
    z-index: 21
}

.top-page li a:after {
    font-family: iconfont!important;
    font-size: .875rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    color: #bbb;
    height: 2.75rem
}

.headline {
    float: left;
    margin-left: 1rem
}

.website {
    margin-top: .75rem
}

.website a:link,.website a:visited {
    color: #222;
    font-size: 1.625rem;
    font-weight: 400
}

.article h1 a:link,.article h1 a:visited {
    color: #333
}

.website a:hover,.article h1 a:hover {
    color: #626262;
    text-decoration: none
}

.blogdescription {
    padding-top: 0;
    color: #777;
    font-size: .875rem;
    font-weight: 400
}

.headicon {
    float: right;
    padding-top: .5rem;
    margin-right: 1.5rem
}

.weiicon {
    color: #ede9e9;
    font-size: 3rem;
    width: 3.25rem;
    height: 3.25rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1
}

.weiicon:hover {
    transform: scale(1.15)
}

.weiicon:hover:before {
    animation: ripple 2s ease-out infinite;
    border: 1px solid #d8b3b3;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    content: "";
    position: absolute;
    opacity: 0
}

.weiicon:hover:after {
    animation: ripple 2s 1s ease-out infinite;
    border: 1px solid #d8b3b3;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    content: "";
    position: absolute;
    opacity: 0
}

@keyframes ripple {
    0% {
        transform: scale(1.2);
        opacity: .4
    }

    25% {
        transform: scale(1.6);
        opacity: .3
    }

    50% {
        transform: scale(2);
        opacity: .2
    }

    75% {
        transform: scale(2.4);
        opacity: .1
    }

    100% {
        transform: scale(2.8);
        opacity: 0
    }
}

.navigation {
    background: #dee1e6
}

.mainmenu {
    height: 3rem
}

.mainmenu a:link,.mainmenu a:visited {
    color: #707377;
    display: block;
    padding: 0 2.75rem
}

.mainmenu a:hover {
    color: #444;
    text-decoration: none;
    background: #d1d4da
}

.mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10
}

.mainmenu li {
    height: 3rem;
    line-height: 3rem;
    float: left;
    font-weight: 700;
    font-size: 1.125rem
}

.mainmenu li ul {
    width: 10rem;
    display: none
}

.mainmenu li li {
    background: #dee1e6;
    width: 10rem;
    left: 0;
    list-style: none;
    border-top: 1px solid #d1d4da
}

.mainmenu li li a {
    display: block;
    text-align: left;
    padding-left: 3rem
}

.mainmenu li li a:hover {
    background: #d1d4da
}

.mainmenu ul ul li {
    position: relative
}

.mainmenu ul ul ul {
    top: -1px;
    left: 10rem;
    z-index: 11
}

.mainmenu li a:after {
    font-family: iconfont!important;
    font-size: .875rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    color: #707377;
    height: 3rem
}

.top-social {
    float: right;
    z-index: 91
}

.top-social .social-bookmarks li {
    list-style: none;
    float: right;
    line-height: 3rem
}

.search {
    float: right;
    width: 14rem;
    position: relative;
    height: 2rem;
    background-color: #fff;
    border-radius: .375rem;
    margin: .415rem .625rem 0 0;
    border: 2px #ccc solid
}

.search .search-input {
    font-size: .875rem;
    width: 11.25rem;
    outline: none;
    background: 0 0;
    height: 2rem;
    line-height: 2rem;
    float: left;
    border: 0;
    color: #525c66;
    padding-left: .5rem
}

.search .search-submit {
    cursor: pointer;
    line-height: 2rem;
    color: #999;
    font-size: 1.25rem;
    margin-left: .5rem;
    background: 0 0
}

.search .search-submit:hover {
    color: #666
}

.main {
    float: left;
    margin-top: 1rem;
    overflow: hidden
}

.main .post {
    background-color: #fff;
    border-radius: .375rem;
    border-bottom: 3px #e5e5e5 solid;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px rgba(205,220,230,.5);
    position: relative
}

.main .post .edit {
    right: 1rem;
    padding: .125rem .325rem;
    margin-top: .25rem;
    background: #dfdfdf;
    position: absolute
}

.main .post .edit a:link,.main .post .edit a:visited {
    color: #888
}

.main .post-title {
    line-height: 2rem;
    padding: .325rem 0 .75rem
}

.main .post-title a:link,.main .post-title a:visited {
    color: #333
}

.main .post-title a:hover {
    color: #da4453;
    text-decoration: none
}

.thumbnail {
    float: left;
    margin: .325rem 1rem .325rem 0;
    width: 10.99rem;
    height: 7.85rem
}

.thumbnail img {
    position: absolute;
    z-index: 3;
    border-radius: .375rem;
    width: 10.99rem;
    height: 7.85rem
}

.main .post-content {
    color: #535353;
    line-height: 2rem
}

.main .post-info {
    font-size: .875rem;
    margin-top: .325rem;
    overflow: hidden;
    height: 1.875rem;
    line-height: 1.875rem;
    color: #8a8a8a
}

.main .post-info .info-icon,.main .article-info .info-icon {
    margin-right: 1rem
}

.main .read-more {
    float: right;
    position: relative
}

.main .read-more a:link,.main .read-more a:visited {
    color: #fff
}

.main .read-more a:visited {
    text-decoration: none
}

.read-more-icon {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    z-index: 92;
    display: block;
    width: 4rem;
    overflow: hidden;
    background: #ed5565;
    border-radius: .25rem;
    padding: .25rem .375rem .125rem;
    text-align: center;
    font-size: .875rem;
    border-bottom: 3px #da4453 solid
}

.read-more-icon:before,.read-more-icon:after {
    -webkit-transition: .5s;
    transition: .5s;
    z-index: -1
}

.read-more-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1.625rem;
    background: #da4453
}

.read-more-icon:hover {
    text-decoration: none
}

.read-more-icon:hover:before {
    width: 4.75rem
}

.main .crumb {
    line-height: 1.75rem;
    background-color: #fff;
    border-radius: .375rem;
    border-bottom: 3px #e5e5e5 solid;
    padding: .625rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px rgba(205,220,230,.5)
}

.main .crumb h1 {
    font-size: 1rem;
    display: inline-block
}

.main .expand {
    float: right
}

.main .expand .expandicon {
    cursor: pointer;
    font-size: 1.25rem;
    color: #666
}

.main .article {
    background-color: #fff;
    border-radius: .375rem;
    border-bottom: 3px #e5e5e5 solid;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px rgba(205,220,230,.5)
}

.main .article h1.post-title {
    line-height: 2rem;
    font-size: 1.375rem;
    padding: 1rem 0 .625rem 1rem
}

.main .article .article-title {
    line-height: 2rem;
    font-size: 1.125rem;
    padding: 1rem 0 .625rem 1rem
}

.main .article .article-info {
    font-size: .875rem;
    padding-left: 1rem;
    overflow: hidden;
    line-height: 1.5rem;
    height: 1.5rem;
    border-bottom: 1px #cdcdcd dotted;
    color: #8a8a8a
}

.main .article .article-info .article-infomation {
    float: left
}

.main .posticon {
    color: #bbb
}

.main .article .article-content a[href^=http]:after {
    content: '';
    background: url(images/external.svg)no-repeat;
    background-size: auto 100%;
    display: inline-block;
    margin: 0 .5rem -.125rem .25rem;
    width: .85rem;
    height: .85rem
}

.main .article .article-content a:not(img)[href^=http]:after {
    display: none
}

.main .article .article-content {
    position: relative;
    overflow: hidden;
    padding: 1rem
}

.main .article .article-content p {
    margin: 0 0 5px;
    padding: 0;
    line-height: 2;
    text-indent: 0;
    word-break: break-all
}

.main .article .article-content table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: .875rem;
    margin: 0 0 20px 0;
    width: 100%;
    word-wrap: anywhere
}

.main .article .article-content table th,
.main .article .article-content table td {
    padding: 8px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd
}

.main .article .article-content table th {
    font-weight: 700;
    padding-bottom: 10px;
    background-color: transparent
}

.main .article .article-content table td {
    border-bottom-width: 1px
}

.main .article .article-content table tbody tr:nth-of-type(odd) {
    background: #f9f9f9
}

.main .article .article-content table tbody tr:hover {
    background: #f5f5f5
}

.main .article .article-content blockquote {
    border-left: 4px solid #ddd;
    color: #666;
    margin: 0 0 20px 0;
    padding: 0 15px;
    background-color: transparent;
    display: block
}

.main .article .article-content blockquote p {
    color: inherit;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 2
}

.main .article .article-content blockquote p:last-child {
    margin-bottom: 0
}

.main .article .article-content ol {
    margin-bottom: 20px;
    list-style: decimal;
    padding-left: 20px
}

.main .article .article-content ul {
    margin-bottom: 20px;
    list-style: disc;
    padding-left: 20px
}

.main .article .article-content ol li,
.main .article .article-content ul li {
    line-height: 2;
    padding: 0;
    list-style-position: outside;
    position: relative
}

.main .article .article-content ul li:before {
    display: none
}

.main .article .article-content a {
    border-bottom: 1px solid #999;
    color: #555;
    text-decoration: none;
    word-wrap: break-word
}

.main .article .article-content a.link-card-item,
.main .article .article-content a.link-card {
    border-bottom: none
}

.main .article .article-content a:hover {
    border-bottom-color: #222;
    color: #222
}

.main .article .article-content a.link-card-item:hover,
.main .article .article-content a.link-card:hover {
    border-bottom: none
}

.main .article .article-content h1,
.main .article .article-content h2,
.main .article .article-content h3,
.main .article .article-content h4,
.main .article .article-content h5,
.main .article .article-content h6 {
    font-weight: 700;
    line-height: 1.5;
    margin: 30px 0 15px;
    display: block
}

.main .article .article-content h1 {
    font-size: 1.5rem
}

.main .article .article-content h2 {
    font-size: 1.375rem
}

.main .article .article-content h3 {
    font-size: 1.25rem
}

.main .article .article-content h4 {
    font-size: 1.125rem
}

.main .article .article-content h5 {
    font-size: 1rem
}

.main .article .article-content h6 {
    font-size: .875rem
}

.main .article .article-content input {
    border: 2px solid #d8dae2;
    margin: .325rem .325rem .325rem 0;
    padding: .325rem .625rem;
    border-radius: .25rem
}

.main .article h3.article-title {
    line-height: 1.625rem;
    background-color: #f5f7f8;
    padding: .625rem 1rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #3c454d
}

.main .article .article-related ul {
    padding: 1rem
}

.main .article .article-related li {
    float: left;
    display: block;
    height: 2rem;
    overflow: hidden;
    line-height: 2rem
}

.main .article .article-tags {
    padding: .625rem 0 .625rem 1rem;
    line-height: 1.875rem
}

.main .article .pre-nex {
    padding: .625rem 1rem
}

.main .article .pre-nex li {
    list-style: none;
    line-height: 2rem
}

.qrcode {
    width: 132px;
    float: right;
    margin-right: .625rem
}

.roll {
    bottom: 5rem;
    float: right;
    position: fixed;
    right: 1.25rem;
    width: 2.25rem;
    z-index: 93
}

.rollicon {
    font-size: 1.25rem;
    color: #fff;
    line-height: 2.25rem;
    display: flex;
    justify-content: center
}

.roll-top,.roll-dark {
    position: relative;
    cursor: pointer;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: .375rem;
    background: #989898;
    opacity: .5
}

.roll-dark {
    margin-bottom: .75rem
}

.roll-top:hover,.roll-dark:hover {
    background: #767676;
    opacity: .5
}

.rollmodeicon {
    display: flex;
    justify-content: center
}

.rollmodeicon:before {
    content: "\e76b";
    color: #fff;
    font-size: 1.25rem;
    line-height: 2.25rem
}

.roll a {
    text-decoration: none
}

.shang-body {
    padding: 1rem
}

.shang-body img {
    border-radius: .75rem;
    padding: .65rem;
    margin: .325rem 1.5rem
}

.shang-body .shang-zfb {
    float: left
}

.shang-body .shang-wx {
    float: right
}

.shang-body .shang-zfb img {
    border: .325rem solid #0062ff
}

.shang-body .shang-wx img {
    border: .325rem solid #22ac38
}

.shang-body .shang-qrcode span {
    text-align: center;
    display: block;
    margin: -20px auto;
    background: #fff;
    font-size: 14px;
    width: 90px;
    font-weight: 700;
    position: relative
}

.shang-body .shang-zfb span {
    color: #0062ff
}

.shang-body .shang-wx span {
    color: #22ac38
}

.article .article-content p img {
    width: auto;
    max-width: 780px;
    height: auto
}

.pagination {
    margin-bottom: .5rem;
    font-size: .875rem;
    text-align: right
}

.pagination span,.pagination a {
    text-align: center;
    height: 2.25rem;
    width: 2.25rem;
    line-height: 2.25rem;
    margin: 0 0 .5rem .25rem;
    display: inline-block;
    text-decoration: none;
    background-color: #dee1e6;
    color: #85898f;
    border-radius: .25rem
}

.pagination a:hover {
    height: 2.25rem;
    width: 2.25rem;
    color: #fff;
    text-decoration: none;
    background: #ed5565
}

.pagination .current {
    height: 2.25rem;
    width: 2.25rem;
    color: #fff;
    background: #da4453
}

.pagination .prev,.pagination .next {
    height: 2.25rem;
    width: auto;
    padding: 0 .625rem;
    text-align: center
}

.pagination .prev:hover,.pagination .next:hover {
    height: 2.25rem;
    width: auto;
    padding: 0 .625rem;
    text-align: center
}

.article .pagination {
    margin: 1rem .625rem .5rem 0
}

.archives-statistics {
    border: 1px solid #ddd;
    border-radius: .25rem;
    padding: 1.25rem 0 .625rem;
    margin: 1.25rem 1rem
}

.archives-info {
    color: #fff;
    position: absolute;
    margin: -2rem 0 0 1.25rem;
    background: #ed5565;
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: .75rem
}

.archives-title {
    color: #666;
    font-size: 1rem;
    padding-bottom: .625rem
}

.archives-counts {
    font-size: 1.625rem;
    color: #ababab;
    padding: 1rem 0
}

.archives-statistics ul {
    padding: 0 1rem;
    list-style: none;
    text-align: center
}

.archives-statistics ul li {
    float: left;
    width: 16.6%
}

.archives-statistics ul li:hover {
    background: #f8f8f8;
    border-radius: .25rem
}

.car-container {
    padding: 0 1rem .625rem
}

a.car-toggler {
    line-height: 2rem;
    padding-left: .5rem;
    font-size: .875rem;
    color: #ed5565
}

.car-list li {
    list-style: none;
    line-height: 2rem
}

.car-list li ul {
    padding-left: 2rem
}

select#archive-selector {
    border: 2px #d8dae2 solid;
    width: 5.5rem;
    height: 1.625rem;
    line-height: 1.625rem;
    margin-right: 1rem
}

.car-list h3 {
    margin: .625rem 0;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    line-height: 2.25rem
}

.car-list .car-days {
    background: #f3f3f3;
    margin-right: .25rem;
    padding: 1px .375rem;
    font-size: .75rem;
    border-radius: .25rem;
    color: #666
}

.sidebar {
    float: right;
    margin-top: 1rem
}

.sidebar .widget {
    background-color: #fff;
    border-radius: .375rem;
    border-bottom: 3px #e5e5e5 solid;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px rgba(205,220,230,.5)
}

.sidebar .widget ul {
    list-style: none
}

.sidebar .widget a:link,.sidebar .widget a:visited {
    color: #555
}

.sidebar .widget a:hover {
    color: #da4453;
    text-decoration: underline
}

.tabnav {
    background-color: #f5f7f8;
    display: block;
    clear: both;
    zoom:1}

.tabnav li {
    width: 33.333333%;
    float: left;
    height: 2rem;
    line-height: 2rem;
    padding: .625rem 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.125rem;
    background-color: #f5f7f8
}

.tabnav li:first-child {
    border-top-left-radius: .375rem
}

.tabnav li:last-child {
    border-top-right-radius: .375rem
}

.tabnav .selected {
    width: 33.333334%;
    position: relative;
    height: 2rem;
    line-height: 2rem;
    padding: .375rem 0 .625rem;
    background-color: #fff;
    color: #ed5565;
    cursor: default;
    border-top: .25rem solid #da4453;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem
}

.tab-content ul li {
    height: 2rem;
    line-height: 2rem;
    overflow: hidden
}

.footer {
    background-color: #dee1e6;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer p {
    line-height: 1.5rem;
    font-size: .8rem;
    color: #777
}

.footer a:link,.footer a:visited {
    color: #777
}

@media screen and (max-width: 319px) {
    html {
        font-size:14px
    }

    .archives-statistics ul li {
        width: 50%
    }
}

@media screen and (min-width: 320px) and (max-width:479px) {
    html {
        font-size:16px
    }

    .archives-statistics ul li {
        width: 33.33333333%
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {
    html {
        font-size:18px
    }

    .archives-statistics ul li {
        width: 33.33333333%
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    html {
        font-size:20px
    }

    .archives-statistics ul li {
        width: 25%
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size:1.375rem;
        font-weight: 400
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 400
    }

    h3 {
        font-size: 1.125rem;
        font-weight: 400
    }

    .header,.headicon,.navigation .mainmenu,.expand,.sidebar,.post-info .author,.post-info .date-hi,.post-info .tags,.article-info .author,.article-info .date-hi,.article-info .category,.read-more,.article-mostactive,.qrcode {
        display: none
    }

    .main {
        width: 100%
    }

    .main .post {
        padding: .675rem;
        margin: 0 .5rem 1rem
    }

    .main .crumb,.main .article {
        margin: 0 .5rem 1rem
    }

    .thumbnail {
        margin-right: .675rem;
        width: 7.7rem;
        height: 5.5rem
    }

    .thumbnail img {
        width: 7.7rem;
        height: 5.5rem
    }

    .main .post .post-content p {
        display: block;
        height: 6rem;
        overflow: hidden;
        font-size: 1rem;
        color: #666
    }

    .pagination {
        margin-right: .5rem
    }

    .main .article .article-related ul li {
        float: none
    }

    .search-box input {
        width: 100%;
        line-height: 1.5rem;
        font-size: .875rem;
        padding: .5rem 1rem;
        border-radius: .25rem;
        background: #eef1f4;
        border: 1px solid #eef1f4;
        box-sizing: border-box;
        color: #444
    }

    .search-box .submit {
        position: absolute;
        right: 1rem;
        background: 0 0;
        line-height: 2.75rem
    }

    .roll {
        bottom: 3.25rem
    }

    .footer {
        background-color: #dee1e6;
        height: 3rem
    }
}

@media screen and (min-width: 992px) {
    #menu {
        width:100%;
        object-fit: cover;
        display: block
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    html {
        font-size:14px
    }

    .container {
        width: 71rem
    }

    .main {
        width: 49rem
    }

    .main .post-info {
        width: 40rem
    }

    .main .article .article-related li {
        width: 22rem
    }

    .sidebar {
        width: 21rem
    }
}

@media screen and (min-width: 1200px) and (max-width:1579px) {
    html {
        font-size:16px
    }

    .container {
        width: 73rem
    }

    .main {
        width: 52.5rem
    }

    .main .post-info {
        width: 44rem
    }

    .main .article .article-related li {
        width: 25rem
    }

    .sidebar {
        width: 19.5rem
    }
}

@media screen and (min-width: 1580px) {
    html {
        font-size:18px
    }

    .container {
        width: 78rem
    }

    .main {
        width: 57.5rem
    }

    .main .post-info {
        width: 48rem
    }

    .main .article .article-related li {
        width: 26rem
    }

    .sidebar {
        width: 19.5rem
    }
}

input,button {
    outline: none
}

.widget .tags a {
    background: #eaeaea;
    color: #666;
    display: inline-block;
    float: left;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    margin: 2px 2px 0 0;
    padding: 0 6px;
    white-space: nowrap
}

.widget .tags a:hover {
    background: #ccc;
    text-decoration: none;
    color: #fff
}

.article input {
    border: 1px solid #ddd;
    padding: 2px;
    margin: 2px
}

.main .article .article-content img {
    max-width: 80%;
    height: auto;
    display: block
}

.article-content pre {
    white-space: pre!important;
    overflow-x: auto!important;
    margin: 1.5em 0!important;
    padding: 0!important;
    background: 0 0!important;
    border: none!important
}

.article-content pre code {
    display: block!important;
    padding: .1em!important;
    border-radius: 6px!important;
    font-family: Consolas,Monaco,andale mono,ubuntu mono,monospace!important;
    font-size: .9em!important;
    line-height: 1.5!important
}

.article-content code {
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    color: #000
}

.dark .article-content code {
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    color: #c7254e
}
